{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}    

    <div class = "container my-5">
        <div class = "text-center my-5">
            <h1>Login Form</h1>
        </div>

        {% if error %}
            <div class = "alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        
        <form method="post">         

            <div class = "mb-3">
                <label for="username" class= "form-label">Email:</label>
                <input type="text" class = "form-control" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class = "mb-3">
                <label for="password" class = "form-label">Password:</label>
                <input type="password" id="password" class = "form-control" name="_password"/>
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            <div class = "text-center my-5">
                <button class = "btn-lg btn-primary" type="submit">Login</button>
                <button class = "btn-lg btn-outline-info"><a href = "{{path('app_register')}}" class = "text-decoration-none">Register</a></button>
            </div>
        </form>
    </div>
{% endblock %}
